


/************************ work in section Fellows*/
.hunter-profil{
	margin: 1em;
	padding: 0.3em;
}
.goodHunter{	
	display: inline-flex;
	margin-left: 1em;
	
}
.goodHunter img{
	text-align: center;
	width: 600px;
	height: 600px;
	opacity: 0.5;
}
.goodHunter img:hover{
	opacity: 1;
}
.hunter-profil{
	background-color: black;
	position: relative;
	z-index: 1;
}
.gold-profil{
	color: black;
	position: absolute;
	z-index: 2;
	top: 1em;
	left: 4em;
	border-radius: 15%;
	width: 300px;
	height: 100px;
	text-align: center;
	background-color: #cccccc;
	opacity: 0.7;
	font-size: 2em;
}
.gold-profil p{
	position: absolute;
	margin-top: 5px;
	margin-bottom:5px; 
	width:250px;	
	z-index: 2;
	left:1em;
}
.dead-profil{
	color: red;
	position: absolute;
	z-index: 2;
	top: 15%;
	left: 30%;
	text-align: center;
	opacity: 1;
	font-size: 5em;
}
.coins{
	color:#ff6633;
}
.name-profil{
	color: #fdf8ff;
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 50%;
	left: 20%;
	font-size: 5em;
}

.dead-name-profil{
	text-decoration: line-through;
	text-decoration-color: red;
	color: #fdf8ff;
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 50%;
	left: 20%;
	font-size: 5em;
}
/******************* hover opacity*/
.hunter-profil:hover .gold-profil{
	opacity: 0;
}
.hunter-profil:hover .name-profil{
	color: #fdf8ff;
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 80%;
	left: 35%;
	font-size: 2em;
}
.hunter-profil:hover .dead-name-profil{
	opacity: 0;
}
.text{
	color: #ffffff;
	font-size: 1.5em;
	padding-left: 1em;
}
